/* body {
  padding: 0;
  margin: 0;
  text-align: center;
}

.btn {
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  margin: 2.5rem;
}
.btn-Container {
  display: flex;
  justify-content: center;
}
.yellow {
  background-color: #f99b45;
}
.red {
  background-color: #d95980;
}
.green {
  background-color: #63aac0;
}
.purple {
  background-color: #a19ff9;
}
.flash {
  background-color: white;
} */
body {
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn {
  height: 150px;
  width: 150px;
  border: 5px solid black;
  border-radius: 25%;
  margin: 2.5rem;
}
.red {
  background-color: #d95980;
}
.yellow {
  background-color: #f99b45;
}
.green {
  background-color: #63aac0;
}
.purple {
  background-color: #819ff9;
}

.flash {
  background-color: white;
}
